
.btnActivites{
    margin-left: 100px;
}
.card-desc{
    opacity: 0;
    position: absolute;
  height: 0;
  top: 0;
  opacity: 0;
  background-color: #1eb3ec;
  color: white;
  cursor: pointer;
}
.card-desc p{
    position: relative;
    top: 30px;
    text-align: center;
}
.card-desc:hover{
    opacity: 1;
    height: 60%;
}
.discount5{
  position: relative;
  top: 31px;
  left: 62%;
}
@media only screen and (max-width: 990px) {
    .cost112{
      position: relative;
      top: 36px;
      left: 90%; 
      color: #1eb3ec;
    }
    .discount5{
      position: relative;
  top: 31px;
  left: 70%;
    }
  }