body{
    background-color: #f4f7fb;
}
.mainDiv{
    margin: auto;
    display: grid;
    grid-template-rows: 800px 200px 950px 585px 565px 550px 560px 560px 550px 550px 550px;    
    gap: 10px;
}

@media only screen and (max-width: 990px) {
   .mainDiv{
    display: grid;
    grid-template-rows: 1000px 300px 4390px 3000px 3000px 3000px 3000px 3000px 3000px 3000px 3000px;     
   }
   } 
   @media only screen and (max-width: 600px) {
    .mainDiv{
     display: grid;
     grid-template-rows: 900px 300px 2999px 1600px 1650px 1650px 1665px 1620px 1620px 1610px 1620px;     
    }
    } 