@import url('https://fonts.googleapis.com/css2?family=Anton&family=Merriweather:ital,wght@1,300&family=Raleway:wght@300&family=Zen+Antique&display=swap');
.navContainer{
    /* font-size: 20px; */
    background-color: #01b2ee;
    color: white;
}
.navItem{
    color: white;
  }

.logo{
    font-family:  MuseoSans,sans-serif;
    font-size: 30px;
    font-weight: 900;
} 


  @media only screen and (max-width: 600px) {
   .liRigth2{
      display: none;
  }
  } 
  @media only screen and (max-width: 992px) {
       .liRigth2{
      display: none;
  }
  }


  